.invitepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.invitepage-invite-page {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(247, 247, 247, 1);
}
.invitepage-top-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-frame48095828 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.invitepage-top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-frame23 {
  gap: 36px;
  display: flex;
  padding: 36px 86px 18px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(31, 27, 41, 1);
}
.invitepage-frame15 {
  gap: 10.40000057220459px;
  display: flex;
  padding: 10.40000057220459px 18px;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.3000000715255737px;
  border-radius: 12px;
  justify-content: center;
}
.invitepage-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-inputwithlabel {
  gap: 6px;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-input {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 12px 36px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(28, 25, 23, 1);
}
.invitepage-searchlg {
  width: 16px;
  height: 16px;
}
.invitepage-content {
  gap: 8px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.invitepage-frame29 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.invitepage-text002 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-button {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(34, 36, 44, 1);
}
.invitepage-text004 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame22 {
  gap: 36px;
  display: flex;
  position: relative;
  align-items: center;
}
.invitepage-frame16 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.invitepage-text006 {
  color: rgba(106, 39, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame35 {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.invitepage-text008 {
  color: rgba(106, 39, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame17 {
  gap: 8px;
  display: flex;
  padding: 12px 18px;
  z-index: 2;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(106, 39, 217, 1);
}
.invitepage-text010 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-bell01 {
  width: 24px;
  height: 24px;
  z-index: 3;
}
.invitepage-icon {
  width: 24px;
  height: 24px;
  z-index: 4;
}
.invitepage-frame34 {
  gap: 8px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 8px;
  z-index: 5;
  align-items: center;
  flex-shrink: 0;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(171, 32, 32, 1);
}
.invitepage-text012 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-inputfield {
  gap: 24px;
  display: flex;
  padding: 24px 96px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(31, 27, 41, 1);
}
.invitepage-frame31 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.invitepage-text013 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-line1 {
  width: 20px;
  height: 1px;
}
.invitepage-frame48095800 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.invitepage-frame32 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text015 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame321 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text017 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095801 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text019 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095802 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text021 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095803 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text023 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095804 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text025 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095805 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text027 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095806 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text029 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095807 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text031 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095808 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text033 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-frame48095809 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.invitepage-text035 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-main-section {
  gap: 48px;
  width: 100%;
  display: flex;
  padding: 3%;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.invitepage-frame51 {
  gap: 31.200000762939453px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-text037 {
  color: rgba(71, 84, 102, 1);
  width: 100%;
  height: auto;
  font-size: 35px;
  font-style: Semi Bold;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  line-height: 49.4px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-text038 {
  color: rgba(71, 84, 102, 1);
  width: 100%;
  height: auto;
  font-size: 27.200000762939453px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 41.60000228881836px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-text039 {
  color: rgba(71, 84, 102, 1);
  font-weight: 400;
}
.invitepage-modal {
  width: 60%;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 24px 28.80000114440918px -4.800000190734863px rgba(16, 24, 40, 0.07999999821186066) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(210, 210, 209, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14.40000057220459px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.invitepage-frame-modalheader {
  display: flex;
  z-index: 1;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.invitepage-content1 {
  gap: 19.200000762939453px;
  display: flex;
  padding: 28.80000114440918px 28.80000114440918px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.invitepage-textandsupportingtext {
  gap: 4.800000190734863px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.invitepage-text050 {
  color: 101282;
  height: auto;
  font-size: 21.600000381469727px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 33.60000228881836px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-paddingbottom {
  height: 24px;
  display: flex;
  z-index: 2;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-content2 {
  gap: 24px;
  width: 100%;
  display: flex;
  padding: 0 28.80000114440918px;
  z-index: 2;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-link {
  gap: 6px;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
}
.invitepage-inputfield1 {
  gap: 7.200000286102295px;
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-inputwithlabel1 {
  gap: 7.200000286102295px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-text052 {
  color: 344054;
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: 20px;
  font-stretch: normal;
}
.invitepage-input1 {
  gap: 9.600000381469727px;
  display: flex;
  padding: 12px 16.80000114440918px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: 344054;
  border-style: solid;
  border-width: 1.2000000476837158px;
  border-radius: 9.600000381469727px;
  background-color: rgba(255, 255, 255, 1);
}
.invitepage-content3 {
  gap: 9.600000381469727px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.invitepage-text054 {
  color: 101282;
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-button01 {
  gap: 9.600000381469727px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  align-items: center;
  border-radius: 9.600000381469727px;
  justify-content: center;
}
.invitepage-copy01 {
  width: 24px;
  height: 24px;
}
.invitepage-frame-modalactions {
  width: 614.4000244140625px;
  display: flex;
  padding: 38.400001525878906px 0 0;
  z-index: 3;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-content4 {
  gap: 14.40000057220459px;
  display: flex;
  padding: 0 28.80000114440918px 28.80000114440918px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.invitepage-button02 {
  gap: 9.600000381469727px;
  display: flex;
  padding: 12px 21.600000381469727px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(126, 86, 216, 1);
  border-style: solid;
  border-width: 1.2000000476837158px;
  border-radius: 24px;
  justify-content: center;
  background-color: rgba(104, 64, 198, 1);
}
.invitepage-text056 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame48095830 {
  gap: 12px;
  width: 100%;
  display: flex;
  padding: 36px 24px;
  align-items: center;
  border-color: rgba(184, 183, 182, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.invitepage-text058 {
  color: rgba(71, 84, 102, 1);
  width: 582px;
  height: auto;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: 38px;
  font-stretch: normal;
}
.invitepage-text059 {
  color: rgba(71, 84, 102, 1);
}
.invitepage-text067 {
  color: rgba(71, 84, 102, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-footer {
  gap: 64px;
  width: 100%;
  display: flex;
  padding: 48px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(32, 27, 41, 1);
}
.invitepage-frame19 {
  gap: 10.40000057220459px;
  display: flex;
  padding: 10.40000057220459px 18px;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.3000000715255737px;
  border-radius: 12px;
  justify-content: center;
}
.invitepage-text069 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-container1 {
  gap: 48px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-content5 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.invitepage-frame-footerlinkscolumn {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-text071 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-footerlinks {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-frame-footerlink {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button03 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text073 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink01 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button04 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text075 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink02 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button05 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text077 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-badge {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  border-color: rgba(170, 239, 198, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: rgba(236, 252, 242, 1);
}
.invitepage-text079 {
  color: #4CC366;
  height: auto;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 18px;
  font-stretch: normal;
}
.invitepage-frame-footerlink03 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button06 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text081 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlinkscolumn1 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-text083 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-footerlinks1 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-frame-footerlink04 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button07 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text085 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink05 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button08 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text087 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink06 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button09 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text089 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink07 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button10 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text091 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlinkscolumn2 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-text093 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-footerlinks2 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-frame-footerlink08 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button11 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text095 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink09 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button12 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text097 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink10 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button13 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text099 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink11 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button14 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text101 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlinkscolumn3 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-text103 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-footerlinks3 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-frame-footerlink12 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button15 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text105 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink13 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button16 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text107 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink14 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button17 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text109 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink15 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button18 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text111 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink16 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button19 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text113 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink17 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button20 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text115 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlinkscolumn4 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-text117 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-footerlinks4 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-frame-footerlink18 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button21 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text119 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink19 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button22 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text121 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink20 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button23 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text123 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink21 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button24 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text125 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlinkscolumn5 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-text127 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.invitepage-footerlinks5 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invitepage-frame-footerlink22 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button25 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text129 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink23 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button26 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text131 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink24 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button27 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text133 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink25 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button28 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text135 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink26 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button29 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text137 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-frame-footerlink27 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.invitepage-button30 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.invitepage-text139 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 24px;
  font-stretch: normal;
}
.invitepage-container2 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invitepage-content6 {
  display: flex;
  padding: 32px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px 0 0;
  justify-content: space-between;
}
.invitepage-logo {
  display: flex;
  align-items: flex-start;
}
.invitepage-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.invitepage-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.invitepage-text141 {
  color: rgba(255, 255, 255, 1);
  width: 293px;
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
}
@media(max-width: 1200px) {
  .invitepage-modal {
    width: 75%;
  }
}
@media(max-width: 991px) {
  .invitepage-content2 {
    gap: 20px;
    padding: 2%;
  }
}
@media(max-width: 767px) {
  .invitepage-modal {
    width: 100%;
  }
}
