.my-redeemed-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.my-redeemed-page-my-deals-page-redeemed {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(247, 247, 247, 1);
}
.my-redeemed-page-frame48095829 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame48095828 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-redeemed-page-top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-frame23 {
  gap: 36px;
  display: flex;
  padding: 36px 86px 18px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(31, 27, 41, 1);
}
.my-redeemed-page-frame15 {
  gap: 10.40000057220459px;
  display: flex;
  padding: 10.40000057220459px 18px;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.3000000715255737px;
  border-radius: 12px;
  justify-content: center;
}
.my-redeemed-page-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-inputwithlabel {
  gap: 6px;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-input {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 12px 36px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(28, 25, 23, 1);
}
.my-redeemed-page-searchlg {
  width: 16px;
  height: 16px;
}
.my-redeemed-page-content {
  gap: 8px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-redeemed-page-frame29 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.my-redeemed-page-text002 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-button {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(34, 36, 44, 1);
}
.my-redeemed-page-text004 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame22 {
  gap: 36px;
  display: flex;
  position: relative;
  align-items: center;
}
.my-redeemed-page-frame16 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.my-redeemed-page-text006 {
  color: rgba(106, 39, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame35 {
  gap: 8px;
  display: flex;
  padding: 8px;
  z-index: 1;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.my-redeemed-page-text008 {
  color: rgba(106, 39, 217, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame17 {
  gap: 8px;
  display: flex;
  padding: 12px 18px;
  z-index: 2;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(106, 39, 217, 1);
}
.my-redeemed-page-text010 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-bell01 {
  width: 24px;
  height: 24px;
  z-index: 3;
}
.my-redeemed-page-icon {
  width: 24px;
  height: 24px;
  z-index: 4;
}
.my-redeemed-page-frame34 {
  gap: 8px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 8px;
  z-index: 5;
  align-items: center;
  flex-shrink: 0;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(171, 32, 32, 1);
}
.my-redeemed-page-text012 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-inputfield {
  gap: 24px;
  display: flex;
  padding: 24px 96px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(31, 27, 41, 1);
}
.my-redeemed-page-frame31 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.my-redeemed-page-text013 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-line1 {
  width: 20px;
  height: 1px;
}
.my-redeemed-page-frame48095800 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.my-redeemed-page-frame32 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text015 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame321 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text017 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095801 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text019 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095802 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text021 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095803 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text023 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095804 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text025 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095805 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text027 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095806 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text029 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095807 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text031 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095808 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text033 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095809 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
}
.my-redeemed-page-text035 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-horizontaltabs {
  gap: 18px;
  width: 100%;
  display: flex;
  padding: 1%;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.my-redeemed-page-frame-tabbuttonbase {
  gap: 9.239999771118164px;
  display: flex;
  padding: 11.549999237060547px 16.170000076293945px;
  overflow: hidden;
  align-items: center;
  border-radius: 6.929999828338623px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.my-redeemed-page-text037 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  font-size: 18.479999542236328px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 27.719999313354492px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame-tabbuttonbase1 {
  gap: 9.239999771118164px;
  display: flex;
  padding: 11.549999237060547px 16.170000076293945px;
  overflow: hidden;
  align-items: center;
  border-radius: 6.929999828338623px;
  justify-content: center;
}
.my-redeemed-page-text039 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 18.479999542236328px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 27.719999313354492px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame-tabbuttonbase2 {
  gap: 9.239999771118164px;
  display: flex;
  padding: 11.549999237060547px 16.170000076293945px;
  overflow: hidden;
  align-items: center;
  border-radius: 6.929999828338623px;
  justify-content: center;
  background-color: rgba(249, 245, 255, 1);
}
.my-redeemed-page-text041 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  font-size: 18.479999542236328px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 27.719999313354492px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095872 {
  gap: 36px;
  width: 100%;
  display: flex;
  padding: 48px 169px;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.my-redeemed-page-sectionheader {
  gap: 31.20000457763672px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-content1 {
  gap: 24.960002899169922px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.my-redeemed-page-textandsupportingtext {
  gap: 6.2400007247924805px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.my-redeemed-page-text043 {
  color: #101828;
  height: auto;
  font-size: 28.08000373840332px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 43.68000411987305px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-text045 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-divider {
  width: 1582px;
  height: 2px;
  align-self: stretch;
}
.my-redeemed-page-frame48095870 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame48095868 {
  display: flex;
  align-items: flex-start;
}
.my-redeemed-page-tableheadercell {
  gap: 18.720001220703125px;
  width: 160.68002319335938px;
  height: 68.64000701904297px;
  display: flex;
  padding: 18.720001220703125px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.my-redeemed-page-tableheader {
  gap: 6.2400007247924805px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-text047 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tableheadercell1 {
  gap: 18.720001220703125px;
  width: 198.12002563476562px;
  height: 68.64000701904297px;
  display: flex;
  padding: 18.720001220703125px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.my-redeemed-page-tableheader1 {
  gap: 6.2400007247924805px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-text049 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tableheadercell2 {
  gap: 18.720001220703125px;
  width: 180.96002197265625px;
  height: 68.64000701904297px;
  display: flex;
  padding: 18.720001220703125px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.my-redeemed-page-tableheader2 {
  gap: 6.2400007247924805px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-text051 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tableheadercell3 {
  gap: 18.720001220703125px;
  width: 285px;
  height: 69px;
  display: flex;
  padding: 18.720001220703125px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.my-redeemed-page-tableheader3 {
  gap: 6.2400007247924805px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-text053 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tableheadercell4 {
  gap: 18.720001220703125px;
  width: 285px;
  height: 69px;
  display: flex;
  padding: 18.720001220703125px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.my-redeemed-page-tableheader4 {
  gap: 6.2400007247924805px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-text055 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tableheadercell5 {
  gap: 18.720001220703125px;
  width: 285px;
  height: 69px;
  display: flex;
  padding: 18.720001220703125px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.my-redeemed-page-tableheader5 {
  gap: 6.2400007247924805px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-text057 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095869 {
  display: flex;
  align-items: flex-start;
}
.my-redeemed-page-tablecell {
  width: 160.68002319335938px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-badge {
  gap: 12px;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-color: rgba(106, 39, 217, 1);
  border-style: solid;
  border-width: 2.3400001525878906px;
  border-radius: 24.960002899169922px;
  justify-content: center;
}
.my-redeemed-page-text059 {
  color: rgba(106, 39, 217, 1);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-arrowcirclebrokenupright {
  width: 18px;
  height: 18px;
}
.my-redeemed-page-tablecell01 {
  width: 198.12002563476562px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-text061 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell02 {
  width: 180.96002197265625px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-text063 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell03 {
  width: 285px;
  height: 112px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
}
.my-redeemed-page-text065 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell04 {
  width: 285px;
  height: 112px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
}
.my-redeemed-page-text067 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell05 {
  gap: 18.720001220703125px;
  width: 285px;
  height: 111.99999237060547px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: flex-end;
}
.my-redeemed-page-button01 {
  gap: 12.480001449584961px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text069 {
  color: var(--dl-color-error-700);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame480958701 {
  display: flex;
  align-items: flex-start;
}
.my-redeemed-page-tablecell06 {
  width: 160.68002319335938px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-badge1 {
  gap: 12px;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-color: rgba(106, 39, 217, 1);
  border-style: solid;
  border-width: 2.3400001525878906px;
  border-radius: 24.960002899169922px;
  justify-content: center;
}
.my-redeemed-page-text071 {
  color: rgba(106, 39, 217, 1);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-arrowcirclebrokenupright1 {
  width: 18px;
  height: 18px;
}
.my-redeemed-page-tablecell07 {
  width: 198.12002563476562px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-text073 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell08 {
  width: 180.96002197265625px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-text075 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell09 {
  width: 285px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
}
.my-redeemed-page-text077 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell10 {
  width: 285px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
}
.my-redeemed-page-text079 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell11 {
  gap: 18.720001220703125px;
  width: 285px;
  height: 111.99999237060547px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: flex-end;
}
.my-redeemed-page-button02 {
  gap: 12.480001449584961px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text081 {
  color: var(--dl-color-error-700);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-frame48095871 {
  display: flex;
  align-items: flex-start;
}
.my-redeemed-page-tablecell12 {
  width: 160.68002319335938px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-badge2 {
  gap: 12px;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-color: rgba(106, 39, 217, 1);
  border-style: solid;
  border-width: 2.3400001525878906px;
  border-radius: 24.960002899169922px;
  justify-content: center;
}
.my-redeemed-page-text083 {
  color: rgba(106, 39, 217, 1);
  height: auto;
  font-size: 18.720001220703125px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 28.08000373840332px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-arrowcirclebrokenupright2 {
  width: 18px;
  height: 18px;
}
.my-redeemed-page-tablecell13 {
  width: 198.12002563476562px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-text085 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell14 {
  width: 180.96002197265625px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
}
.my-redeemed-page-text087 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell15 {
  width: 285px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
}
.my-redeemed-page-text089 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell16 {
  width: 285px;
  height: 112.32001495361328px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: center;
}
.my-redeemed-page-text091 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-tablecell17 {
  gap: 18.720001220703125px;
  width: 285px;
  height: 111.99999237060547px;
  display: flex;
  padding: 24.960002899169922px 37.44000244140625px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 0 0 1.5600001811981201px;
  justify-content: flex-end;
}
.my-redeemed-page-button03 {
  gap: 12.480001449584961px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text093 {
  color: var(--dl-color-error-700);
  height: auto;
  font-size: 21.840002059936523px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 31.20000457763672px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-footer {
  gap: 64px;
  width: 100%;
  display: flex;
  padding: 48px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(32, 27, 41, 1);
}
.my-redeemed-page-frame19 {
  gap: 10.40000057220459px;
  display: flex;
  padding: 10.40000057220459px 18px;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.3000000715255737px;
  border-radius: 12px;
  justify-content: center;
}
.my-redeemed-page-text095 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-container1 {
  gap: 48px;
  width: 100%;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-content2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.my-redeemed-page-frame-footerlinkscolumn {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-text097 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-footerlinks {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame-footerlink {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button04 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text099 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink01 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button05 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text101 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink02 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button06 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text103 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-badge3 {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  border-color: rgba(170, 239, 198, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-success-50);
}
.my-redeemed-page-text105 {
  color: var(--dl-color-success-700);
  height: auto;
  text-align: center;
  line-height: 18px;
}
.my-redeemed-page-frame-footerlink03 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button07 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text107 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlinkscolumn1 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-text109 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-footerlinks1 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame-footerlink04 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button08 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text111 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink05 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button09 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text113 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink06 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button10 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text115 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink07 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button11 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text117 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlinkscolumn2 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-text119 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-footerlinks2 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame-footerlink08 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button12 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text121 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink09 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button13 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text123 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink10 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button14 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text125 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink11 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button15 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text127 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlinkscolumn3 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-text129 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-footerlinks3 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame-footerlink12 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button16 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text131 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink13 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button17 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text133 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink14 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button18 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text135 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink15 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button19 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text137 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink16 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button20 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text139 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink17 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button21 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text141 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlinkscolumn4 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-text143 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-footerlinks4 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame-footerlink18 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button22 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text145 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink19 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button23 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text147 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink20 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button24 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text149 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink21 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button25 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text151 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlinkscolumn5 {
  gap: 16px;
  width: 176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-text153 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.my-redeemed-page-footerlinks5 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.my-redeemed-page-frame-footerlink22 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button26 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text155 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink23 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button27 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text157 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink24 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button28 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text159 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink25 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button29 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text161 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink26 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button30 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text163 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-frame-footerlink27 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.my-redeemed-page-button31 {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.my-redeemed-page-text165 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.my-redeemed-page-container2 {
  gap: 32px;
  width: 100%;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.my-redeemed-page-content3 {
  display: flex;
  padding: 32px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px 0 0;
  justify-content: space-between;
}
.my-redeemed-page-logo {
  display: flex;
  align-items: flex-start;
}
.my-redeemed-page-logowrap {
  width: 142px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.my-redeemed-page-logotype {
  top: 0px;
  left: 42px;
  width: 100px;
  height: 32px;
  position: absolute;
}
.my-redeemed-page-text167 {
  color: rgba(255, 255, 255, 1);
  width: 293px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
